*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy', sans-serif;
  

}

html,body {
    height: 100%;
    width: 100%;

}
body{
    background-color: rgba(0, 123, 255, 0.945);
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 480px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;
    border: 3px solid #111;
    position: relative;
    overflow: hidden;
}
.storiyans{
    height: 120px;
    width: 100%;
    border: 1px solid #dadada;
    padding: 15px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}
.storiyans::-webkit-scrollbar{

    display: none;
}
.story{
    /* background-color: blue; */
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: 2.45px solid red;
    overflow: hidden;
    display: inline-block;
    margin-right: 4px;
   
}
.story img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.full_screen{
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;
}
